{% extends 'base.html.twig' %}

{% block title %}Modifier l'Utilisateur{% endblock %}

{% block body %}
<div style="margin: 50px 0;"></div>
    <h1>Modifier l'utilisateur</h1>
    {{ form(userForm) }}

    <a href="{{ path ('app_utilisateurs') }}" class="btn btn-primary">Retour</a>
{% endblock %}
