{% extends 'base.html.twig' %}

{% block title %}Modifier le Stock{% endblock %}

{% block body %}
<div style="margin: 50px 0;"></div>
    <h1>Modifier le Magasin</h1>   
    {{ form(stockForm) }}

    <a href="{{ path ('app_stock') }}" class="btn btn-primary">Retour</a>
{% endblock %}