body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: #160e0b;
  color: white;
  padding: 10px;
}

footer .section {
  margin: 20px 0;
}

footer .section a {
  margin: 0 10px;
  color: white;
}

footer .section h3 {
  color: #fd9c6b;
}