{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/components/footer.css') }}" />
{% endblock %}

<body>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 section text-center">
                <h3>À propos de nous</h3>
                <p>Nous sommes une entreprise dédiée à fournir les meilleurs services à nos clients.</p>
            </div>
            <div class="col-sm-12 col-md-4 section text-center">
                <h3>Contactez-nous</h3>
                <p>Email: contact@blissfulhaven.com</p>
                <p>Téléphone: +33 06 00 00 00 00</p>
            </div>
            <div class="col-sm-12 col-md-4 section social-media text-center">
                <h3>Suivez-nous</h3>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-12 section text-center">
                <p>&copy; 2024 Blissfulhaven. Tous les droits sont réservés.</p>
                <p>
                    <a href="#" style="color: white;">Politique de confidentialité</a> |
                    <a href="#" style="color: white;">Conditions d'utilisation</a>
                </p>
            </div>
        </div>
    </footer>
</body>