{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span9">
            <h2>Paiement annulé</h2>
            <p>Le paiement a été annulé. Vous pouvez retourner à la boutique et essayer à nouveau.</p>
        </div>
    </div>
</div>

<footer>
    {% include 'footer.html.twig' %}
</footer>
{% endblock %}