{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/modulesUsed/navigation.css') }}" />
{% endblock %}
<div class="well">
    <ul class="nav nav-list">
        <li class="active">
            <div style="padding-left: 30px;" class="row">
                <form action="{{ path('app_produits') }}" method="get" class="input-group search-form">
                    <input type="search" name="categorie" placeholder="Afficher une catégorie" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>